.App {
  position: relative;
  overflow-x: clip;
}

.App > :nth-child(1) {
  position: relative;
  background-color: #011f13;
}

.white-gradient {
  position: absolute;
  width: 30rem;
  height: 20rem;
  background: rgb(255, 255, 255, 0.522);
  filter: blur(100px);
  border-radius: 100px;
}
